---
layout: default
---

<div class="home">

  <ul class="tag-list">
    {% for tagitem in site.tags  %}
      {% if tagitem[0] != 'draft' %}
    <li><a href="/tags#{{tagitem[0]}}">{{ tagitem[0] }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  
  <ul class="post-list">
    {% for post in site.posts %}
    {% unless post.tags contains 'draft' %}
      <li style="border-top: 1px solid #CCC">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

	<span class="post-meta">{{ post.date | date: date_format }}</span>
        <em>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </em>

	<div class="post-summary">{{ post.summary | escape }}</div>

	<ul class="tag-list">
	{% for tag in post.tags %}
	<li><a href="/tags#{{tag}}">{{ tag }}</a></li>
	{% endfor %}
	</ul>
      </li>
    {% endunless %}
    {% endfor %}
  </ul>

</div>
